* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #9dc3f5;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 55vh;
    height: 80vh;
    border: 10px solid rgb(5, 4, 40);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px 20px;
    padding-top: 0px;
    gap: 20px;
    box-shadow: 5px 5px 0px 0px black, -3px 0px 0px 0px black;
    background-color: rgb(220, 220, 220);
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: Roboto;
}

.screen {
    border: 2px solid black;
    border-radius: 20px;
    width: 97%;
    height: 25%;
    background-color: rgb(253, 233, 149);
    box-shadow: 0px 5px 10px 0px rgb(107, 88, 12);
    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}

.author {
    display: block;
}

.errorDot {
    display: none;
    color: red;
}

.screen .num {
    font-size: 70px;
    font-weight: 500;
    font-family: Roboto;
}

.All-btn {
    flex : 1;
    width: 100%;
    height: 100%;
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    box-sizing: border-box;
    gap: 5px;
}

.All-btn button {
    border-radius: 10px;
    color: rgb(35, 33, 33);
    box-shadow: 2px 2px 2px 0px rgb(80, 62, 4), -2px 2px 2px 0px rgb(80, 62, 4);
    font-size: 24px;
    font-weight: 500;
}


/* css of upper part */
.enter-btn {
    display: flex;
    flex: 4;

}

.btn-l {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.btn-r {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-l button{
    background-color: rgb(235, 230, 205);
    box-sizing: border-box;
    flex: 1 1 30%;
    margin: 5px;
}

.btn-r button {
    background-color: rgb(239, 188, 93);
    box-sizing: border-box;
    font-size: 48px;
    margin: 5px;
    flex:1;
}



/*css of bottom part*/

.clear-btn {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}


.clear-btn button {
    flex: 1;
    height: 100%;
    
}

